<!DOCTYPE html>
<html ng-app="myApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
	    $scope.fname = "Satheesh";
	    $scope.lname = "Aravind";
	});
</script>
<body>
<div ng-controller="myCtrl">
	<div>First Name: <input ng-model="fname" type="text" />{{fname}}</div>

	<div>Last Name:<input ng-model="lname" type="text" />{{lname}}</div>
</div>
</body>
</html>
