<!DOCTYPE html>
<html ng-app="nameliApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('nameliApp', []);
	app.controller('myCtrl', function($scope) {
		/* Array */
		$scope.nameArr = ['Satheesh', 'Aravind', 'Velusamy'];

		/* Add new */
		$scope.addName = function() {
			$scope.nameArr.push($scope.newName);
			$scope.newName = "";
		};

		/* Remove */
		$scope.remove = function(na) {
			var i = $scope.nameArr.indexOf(na);
			$scope.nameArr.splice(i, 1);
		}
	});
</script>
<body>
<div ng-controller="myCtrl">
	<ul>
		<li style="padding: 10px 0;" ng-repeat="na in nameArr">{{na}} <button ng-click="remove(na)">Remove</button> </a> </li>
	</ul>
	<form ng-submit="addName()">
		<input type="text" ng-model="newName" />
		<input type="submit" value="Add" />
	</form>
</div>
</body>
</html>
