<!DOCTYPE html>
<html ng-app="countryTableApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('countryTableApp', []);
	app.controller('myCtrl', function($scope) {
		/* Array */
		$scope.ctryArr = [
			{"name": "China", "population": "1382323332"},
			{"name": "India", "population": "1326801576"},
			{"name": "United States", "population": "324118787"}
		];

		/* Add new */
		$scope.addCountry = function() {
			/*$scope.ctryArr.push($scope, [country.newName,country.newPop]);*/
			console.log($scope.ctryArr);
			$scope.ctryArr.push({ 'name':$scope.newName, 'population': $scope.newPop});
			$scope.newName = "";
			$scope.newPop = "";
		};

		/* Remove */
		$scope.remove = function(country) {
			var i = $scope.ctryArr.indexOf(country);
			$scope.ctryArr.splice(i, 1);
		}
	});
</script>
<body>
<div ng-controller="myCtrl">
	<form ng-submit="addCountry()">
		<table>
			<thead>
				<tr>
					<th>Country Name</th>
					<th>Population</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="country in ctryArr">
					<td>{{country.name}}</td>
					<td>{{country.population}}</td>
					<td><button ng-click="remove(country)">Remove</button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td><input type="text" ng-model="newName" required /></td>
					<td><input type="number" ng-model="newPop" required /></td>
					<td><input type="submit" value="Add" /></td>
				</tr>
			</tfoot>
		</table>		
	</form>
</div>
</body>
</html>
